{%  extends 'base.html' %}

{%  block body %}
     <h1>ABOUT US</h1>

    <HR>


    <H2> The mission of the SNDY Institute of Technology is to advance knowledge and educate students in science,
        technology, and other areas of scholarship
        that will best serve the nation and the world in the 21st century. We are also driven to bring
        knowledge to bear on the world’s great challenges.
        The Institute is an independent, coeducational, privately endowed university, organized into five School
        s (architecture and planning; engineering; humanities, arts, and social sciences; management; and science).
        It has some 1,000 faculty members, more than 11,000 undergraduate and graduate students,
        and more than 130,000 living alumni. </H2>

{%  endblock body %}
